language: Ruby
rvm:
  - 2.4.0
os: linux
dist: trusty
sudo: required
addons:
  apt:
    packages:
      - google-chrome-stable
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
script: bundle exec cucumber
